<div class="col-xs-12 col-md-12 col-sm-12">
  <br>
    <div style=" float:right">
    <a href="#" > <span class="glyphicon glyphicon-star-empty"></span> Upgrade Account</a>
 &nbsp;   &nbsp;  <a href="#" data-toggle="tooltip" data-placement="bottom" title="Notification Menu" > <span class="glyphicon glyphicon-bell" ></span></a>
 &nbsp; &nbsp;
 <a href="#" > <span class="glyphicon glyphicon-user" ></span> abaidullah <span class="caret"></span></a>
&nbsp; &nbsp;

  </div>
