<!DOCTYPE html>
<html>
<head>
  <title>FileSharingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="col-xs-12 col-md-12 col-sm-12">
    <br>
      <div style=" float:right">
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Notification Menu" > <span class="glyphicon glyphicon-bell" ></span></a>
        <a href="#" > <span class="glyphicon glyphicon-user" ></span> abaidullah <span class="caret"></span></a>
     </div>
     
<%= yield %>

</body>
</html>
